<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<meta charset="UTF-8">
  <title>Item</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/items/new" th:object="${itemForm}" method="post">
    <div class="form-group">
      <select name="dis" id="dis" class="form-control">
        <option value="">상품선택</option>
        <option th:value="M" th:text="영화" >
        <option th:value="S" th:text="음식" >
      </select>
    </div>
    <div class="form-group">
      <label th:for="name">상품명</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="상품명을 입력하세요"
             th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
    </div>
    <div class="form-group">
      <label th:for="price">가격</label>
      <input type="number" th:field="*{price}" class="form-control" placeholder="수량을 입력하세요"
             th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
    </div>
    <div class="form-group">
      <label th:for="stock">수량,좌석</label>
      <input type="number" th:field="*{stock}" class="form-control" placeholder="수량(좌석)을 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="genre">장르</label>
      <input type="text" th:field="*{genre}" class="form-control" placeholder="장르를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="runningTime">러닝타임</label>
      <input type="number" th:field="*{runningTime}" class="form-control" placeholder="러닝타임을 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="category">카테고리</label>
      <input type="text" th:field="*{category}" class="form-control" placeholder="카테고리를 입력하세요">
    </div>
    <button type="submit" id="enroll" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

</script>
</html>